{% if page.path contains '_posts/' %}
    {% if include.otherLangs %}
    {% for pair in include.otherLangs %}
        <link rel="alternate" hreflang="{{ pair[0] }}" href="{{ pair[1] | include.currentURL }}">
    {% endfor %}
    {% endif %}
    <link rel="alternate" hreflang="{{ include.currentLang }}" href="{{ include.currentURL }}">
    <link rel="alternate" hreflang="x-default" href="{{ include.currentURL }}">

    {% if include.aioFaqs %}
    <script type="application/ld+json">
        {{include.aioFaqs }}
    </script>
    {% endif %}
{% endif %}

{% unless page.url == '/404.html' %}
    <link rel="stylesheet" href="/assets/css/post-toc.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3184248473087645" crossorigin="anonymous"></script>
{% endunless %}
