<li class="nav-item" style="padding:0 15px 0 15px;">
    <a href="https://medium.com/@zhgchgli" class="nav-link" target="_blank"
       style="background:#EDF4FF;color:#0A84FF;font-size:15px;transition:background-color .2s,color .2s;"
       onmouseover="this.style.backgroundColor='#0A84FF';this.style.color='#ffffff';"
       onmouseout="this.style.backgroundColor='#EDF4FF';this.style.color='#0A84FF';">
        <i class="fa-brands fa-medium"></i>
        <span><span style="font-size: 18px; font-weight: boild;">Follow Me on Medium!</span><br/><u>{{ include.mediumFollowers }}</u> Followers</span>
    </a>
</li>