<footer class="foot">
  <div class="foot-inner">
    <div>
      <div class="brand-foot"><b>ZhgChg</b><span class="dot">.</span><i>Li</i></div>
      <div>{{ site.author.bio }}</div>
      {% assign year = site.time | date: '%Y' %}
      {% assign built_at = site.time | date: '%Y-%m-%d %H:%M %z' %}
      <div class="copy">{{ t.footer.copy_made_with | replace: '%Y', year }} · Site updated: <time datetime="{{ site.time | date_to_xmlschema }}">{{ built_at }}</time></div>
    </div>
    <div>
      <h5>{{ t.footer.read_heading }}</h5>
      <a href="{{ '/posts/' | relative_url }}">{{ t.footer.all_writing }}</a>
      <a href="{{ '/categories/' | relative_url }}">{{ t.footer.categories }}</a>
      <a href="{{ '/tags/' | relative_url }}">{{ t.footer.tags }}</a>
      <a href="{{ '/archive/' | relative_url }}">{{ t.footer.archive }}</a>
    </div>
    <div>
      <h5>{{ t.footer.connect_heading }}</h5>
      <a class="donate-link" href="{{ '/contact/' | relative_url }}">
        {% include icon.html name="mug-saucer" %}{{ t.footer.donate_link }}
      </a>
      {% for s in site.data.social %}{% unless s.id == 'rss' %}
        <a href="{{ s.url }}" {% unless s.url contains 'mailto' %}target="_blank" rel="noopener"{% endunless %}>
          {% include icon.html name=s.icon %}{{ s.label }}
        </a>
      {% endunless %}{% endfor %}
    </div>
    <div>
      <h5>{{ t.footer.follow_heading }}</h5>
      <a href="https://link.zhgchg.li" target="_blank" rel="noopener">{% include icon.html name="link" %}{{ t.footer.links_link }}</a>
      <a href="{{ '/feed.xml' | relative_url }}"><span style="color:#b85a1c">{% include icon.html name="rss" %}</span>{{ t.footer.rss_link }}</a>
      {% assign medium_url = site.author.medium.url | default: site.data.authors[site.author.name].medium.url %}
      {% if medium_url %}
        <a href="{{ medium_url }}" target="_blank" rel="noopener">{% include icon.html name="medium" %}{{ t.footer.medium_link | default: 'Medium' }}</a>
      {% endif %}
      <a href="{{ '/ads/' | relative_url }}">{% include icon.html name="paper-plane" %}{{ t.nav.ads }}</a>
    </div>
  </div>
</footer>
