name: After Pages Deployment

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["pages-build-deployment"]
    types: [completed]

concurrency:
  group: "zhgchgli-after-pages-deploy"
  cancel-in-progress: true

jobs:
  after_deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Print deployment info
        env:
          CLOUDFLARE_ACCOUND_ID: "${{ secrets.CLOUDFLARE_ACCOUND_ID }}"
          CLOUDFLARE_LIST_ID: "${{ secrets.CLOUDFLARE_LIST_ID }}"
          CLOUDFLARE_TOKEN: "${{ secrets.CLOUDFLARE_TOKEN }}"
        run: |
          curl -fsSL "https://zhgchg.li/redirects.json" \
          | jq '
            to_entries
            | map({
                redirect: {
                  source_url: ("https://zhgchg.li" + .key),
                  target_url: (
                    if (.value | startswith("http"))
                    then .value
                    else "https://zhgchg.li" + .value
                    end
                  ),
                  status_code: 301
                }
              })
          ' \
          | curl -fsS --fail-with-body -X PUT \
            "https://api.cloudflare.com/client/v4/accounts/${CLOUDFLARE_ACCOUNT_ID}/rules/lists/${CLOUDFLARE_LIST_ID}/items" \
            -H "Authorization: Bearer ${CLOUDFLARE_TOKEN}" \
            -H "Content-Type: application/json" \
            --data @-
